<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%=flash[:alert]%><br>
  <% if user_signed_in? %>
  <%= link_to '로그아웃', logout_path, method: 'delete' %>
  <% else %>
  <%= link_to '로그인', login_path %>
  <%= link_to '회원가입', new_user_path %>
  <% end %>

<%= yield %>

</body>
</html>
